.cid-u4QO8yfxVf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-u4QO8yfxVf .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4QO8yfxVf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u4QO8yfxVf .card-wrapper {
  background: var(--dominant-color, #393193);
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-u4QO8yfxVf .card-wrapper {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u4QO8yfxVf .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-u4QO8yfxVf .card-wrapper {
    padding: 4rem;
  }
}
.cid-u4QO8yfxVf .mbr-text,
.cid-u4QO8yfxVf .mbr-section-btn {
  color: #ffd7ef;
}
.cid-u4QO8yfxVf .card-title,
.cid-u4QO8yfxVf .card-box {
  text-align: center;
  color: var(--dominant-text, #ffd7ef);
}


.cid-u4QO8yh0XV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-u4QO8yh0XV .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u4QO8yh0XV .social-row .soc-item {
  margin: 8px;
}
.cid-u4QO8yh0XV .social-row .soc-item a:hover .mbr-iconfont,
.cid-u4QO8yh0XV .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-u4QO8yh0XV .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-u4QO8yh0XV .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u4QO8yh0XV .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-u4QO8yh0XV .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-u4QO8yh0XV .header-menu li p {
  margin: 0;
}
.cid-u4QO8yh0XV .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-u4QO8yh0XV .mbr-section-title {
  color: #ffffff;
}


.cid-u4QO8yhxX4 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-u4QO8yhxX4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4QO8yhxX4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u4QO8yhxX4 .row {
  justify-content: center;
}
.cid-u4QO8yhxX4 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u4QO8yhxX4 .item {
    margin-bottom: 1rem;
  }
}
.cid-u4QO8yhxX4 .item .item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u4QO8yhxX4 .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-u4QO8yhxX4 .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-u4QO8yhxX4 .content-head {
  max-width: 800px;
}


.cid-u4QO8yhJO7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-u4QO8yhJO7 .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-u4QO8yhJO7 form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-u4QO8yhJO7 form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-u4QO8yhJO7 form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-u4QO8yhJO7 .content-head {
  max-width: 800px;
}


.cid-u4QO8yh1Yw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u4QO8yh1Yw .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4QO8yh1Yw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u4QO8yh1Yw .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-u4QO8yh1Yw .bg-facebook:hover {
  background: #0b60cb;
}
.cid-u4QO8yh1Yw .bg-twitter {
  background: #16b61e;
  color: #ffffff;
}
.cid-u4QO8yh1Yw .bg-twitter:hover {
  background: #16b61e;
}
.cid-u4QO8yh1Yw .bg-instagram {
  background: #bd005c;
  color: #ffffff;
}
.cid-u4QO8yh1Yw .bg-instagram:hover {
  background: #bd005c;
}
.cid-u4QO8yh1Yw .bg-tiktok {
  background: #000000;
  color: #ffffff;
}
.cid-u4QO8yh1Yw .bg-tiktok:hover {
  background: #000000;
}
.cid-u4QO8yh1Yw .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-u4QO8yh1Yw [class^="socicon-"]:before,
.cid-u4QO8yh1Yw [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}


.cid-u4QO8yfGsP {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u4QO8yfGsP .item-subtitle {
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.cid-u4QO8yfGsP img,
.cid-u4QO8yfGsP .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-u4QO8yfGsP .item:focus,
.cid-u4QO8yfGsP span:focus {
  outline: none;
}
.cid-u4QO8yfGsP .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u4QO8yfGsP .item {
    margin-bottom: 1rem;
  }
}
.cid-u4QO8yfGsP .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u4QO8yfGsP .mbr-section-btn {
  margin-top: auto !important;
}
.cid-u4QO8yfGsP .mbr-section-title {
  color: #000000;
}
.cid-u4QO8yfGsP .mbr-text,
.cid-u4QO8yfGsP .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-u4QO8yfGsP .item-title {
  color: #000000;
}
.cid-u4QO8yfGsP .content-head {
  max-width: 800px;
}


.cid-u4QO8yf8xW {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
}

.cid-u4QO8yf8xW img,
.cid-u4QO8yf8xW .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
}

.cid-u4QO8yf8xW .item:focus,
.cid-u4QO8yf8xW span:focus {
    outline: none;
}

.cid-u4QO8yf8xW .item {
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .cid-u4QO8yf8xW .item {
        margin-bottom: 1rem;
    }
}

.cid-u4QO8yf8xW .item-content {
    margin-top: 2rem;
    padding: 0 2.25rem 2.25rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .cid-u4QO8yf8xW .item-content {
        padding: 2rem 1.5rem;
        padding-top: 1rem;
        margin-top: 1rem;
    }
}

@media (max-width: 767px) {
    .cid-u4QO8yf8xW .item-content {
        padding: 2rem 1.5rem;
        padding-top: 1rem;
        margin-top: 1rem;
    }
}

.cid-u4QO8yf8xW .item-wrapper {
    position: relative;
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.cid-u4QO8yf8xW .item-wrapper .item-footer {
    margin-top: auto;
}

.cid-u4QO8yf8xW .mbr-section-title {
    color: #000000;
}

.cid-u4QO8yf8xW .item-title {
    text-align: left;
}

.cid-u4QO8yf8xW .item-subtitle {
    text-align: left;
}

.cid-u4QO8yf8xW .mbr-text,
.cid-u4QO8yf8xW .item .mbr-section-btn {
    text-align: left;
}

.cid-u4QO8yf8xW .content-head {
    max-width: 800px;
}


.cid-u4QO8ygoZ7 {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-u4QO8ygoZ7 .item-subtitle {
    line-height: 1.2;
    color: #000000;
}

.cid-u4QO8ygoZ7 img,
.cid-u4QO8ygoZ7 .item-img {
    width: 100%;
    height: 100%;
    height: 300px;
    object-fit: cover;
}

.cid-u4QO8ygoZ7 .item:focus,
.cid-u4QO8ygoZ7 span:focus {
    outline: none;
}

.cid-u4QO8ygoZ7 .item {
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .cid-u4QO8ygoZ7 .item {
        margin-bottom: 1rem;
    }
}

.cid-u4QO8ygoZ7 .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.cid-u4QO8ygoZ7 .mbr-section-title {
    color: #000000;
}

.cid-u4QO8ygoZ7 .mbr-text,
.cid-u4QO8ygoZ7 .mbr-section-btn {
    color: #000000;
}

.cid-u4QO8ygoZ7 .item-title {
    color: #000000;
}

.cid-u4QO8ygoZ7 .content-head {
    max-width: 800px;
}


.cid-u4QO8ygpqZ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u4QO8ygpqZ .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-u4QO8ygpqZ .item-wrapper {
  margin-bottom: 2rem;
}
.cid-u4QO8ygpqZ .card-title,
.cid-u4QO8ygpqZ .iconfont-wrapper {
  color: #000000;
}
.cid-u4QO8ygpqZ .card-text {
  color: #000000;
  text-align: center;
}
.cid-u4QO8ygpqZ .content-head {
  max-width: 800px;
}
.cid-u4QO8ygpqZ .mbr-section-title {
  color: #000000;
}
.cid-u4QO8ygpqZ .card-title,
.cid-u4QO8ygpqZ .img-wrapper {
  text-align: center;
}
.cid-u4QO8ygpqZ .img-wrapper {
  display: flex;
  justify-content: center;
}

.cid-u4QO8ygG4T {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: transparent;
}
.cid-u4QO8ygG4T .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4QO8ygG4T .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u4QO8ygG4T .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
.cid-u4QO8ygG4T .text-wrapper {
  padding: 4rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u4QO8ygG4T .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-u4QO8ygG4T .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-u4QO8ygG4T .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-u4QO8ygG4T .row {
  flex-direction: row-reverse;
}
.cid-u4QO8ygG4T .image-wrapper {
  padding: 0 1rem;
}
.cid-u4QO8ygG4T img,
.cid-u4QO8ygG4T .image-wrapper {
  height: 600px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-u4QO8ygG4T img,
  .cid-u4QO8ygG4T .image-wrapper {
    max-height: 350px;
  }
}
.cid-u4QO8ygG4T .mbr-section-title {
  color: #000000;
}
.cid-u4QO8ygG4T .mbr-text {
  color: #000000;
}


.cid-u4QO8yh1mW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u4QO8yh1mW .item:focus,
.cid-u4QO8yh1mW span:focus {
  outline: none;
}
.cid-u4QO8yh1mW .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-u4QO8yh1mW .content-head {
  max-width: 800px;
}
.cid-u4QO8yh1mW .item {
  color: #232323;
  min-height: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cid-u4QO8yh1mW .item {
    min-height: 45px;
  }
}


.cid-u4QO8yh155 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--dominant-color, #260a30);
}

.cid-u4QO8yh155 input {
  padding: 1.2rem 1.5rem;
  border: none !important;
  height: 100%;
}

.cid-u4QO8yh155 input:hover {
  border: none !important;
}

.cid-u4QO8yh155 .btn {
  height: 100%;
  margin: auto;
}

@media (min-width: 992px) {
  .cid-u4QO8yh155 .text-wrapper {
    padding: 0 2rem;
  }
}

.cid-u4QO8yh155 .row {
  justify-content: center;
}

.cid-u4QO8yh155 .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: fit-content;
}

@media (min-width: 768px) {
  .cid-u4QO8yh155 .mbr-section-btn {
    margin-left: initial;
  }
}

.cid-u4QO8yh155 .mbr-section-btn .btn {
  width: auto;
}

@media (max-width: 991px) {
  .cid-u4QO8yh155 .image-wrapper {
    margin-bottom: 2rem;
  }

  .cid-u4QO8yh155 .content-wrapper {
    flex-direction: column-reverse;
  }
}

.cid-u4QO8yh155 .justify-content-center {
  align-items: center;
}

.cid-u4QO8yh155 .mbr-section-title {
  text-align: center;
  color: var(--dominant-text, #ffd7ef);
}

.cid-u4QO8yhpKp {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u4QO8yhpKp .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4QO8yhpKp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u4QO8yhpKp .title .num {
  width: 100%;
  display: block;
}
.cid-u4QO8yhpKp .title .card-title {
  z-index: 1;
}
.cid-u4QO8yhpKp .num {
  color: var(--primary-color, #9fe870);
  text-align: center;
}
.cid-u4QO8yhpKp .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u4QO8yhpKp .item-mb {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-u4QO8yhpKp * {
    text-align: center !important;
  }
  .cid-u4QO8yhpKp .content-column {
    margin-bottom: 2rem;
  }
}
.cid-u4QO8yhpKp .content-head {
  max-width: 800px;
}
.cid-u4QO8yhpKp .card-text {
  text-align: center;
}
.cid-u4QO8yhpKp .card-title,
.cid-u4QO8yhpKp .card-img {
   text-align: center;
}

.cid-u4QO8yhESx {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u4QO8yhESx .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-u4QO8yhESx img,
.cid-u4QO8yhESx .item-img {
  width: 100%;
}
.cid-u4QO8yhESx .item:focus,
.cid-u4QO8yhESx span:focus {
  outline: none;
}
.cid-u4QO8yhESx .item {
  margin-bottom: 2rem;
}
@media (max-width: 575px) {
  .cid-u4QO8yhESx .item {
    margin-bottom: 1rem;
  }
}
.cid-u4QO8yhESx .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u4QO8yhESx .mbr-section-title {
  color: #000000;
}
.cid-u4QO8yhESx .mbr-text,
.cid-u4QO8yhESx .mbr-section-btn {
  color: #000000;
}
.cid-u4QO8yhESx .item-title {
  color: #000000;
  text-align: center;
}
.cid-u4QO8yhESx .content-head {
  max-width: 800px;
}
.cid-u4QO8yhESx img {
  filter: grayscale(1);
}


